@use "../../assets/sass/variables" as *;

.search {
  padding: 10px;
  display: flex;
  flex-direction: column;

  &__label {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: $color-white;
  }

  &__box {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 3px solid $color-gray;
    box-shadow: 4px 4px $color-black;
    border-radius: 12px;
    background-color: $color-white;
    margin: 10px;
  }
  &__input {
    height: auto;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
    font-family: $primary-font;
    outline: none;
    border: none;
    border-radius: 12px;
  }
}
