@use "../../assets/sass/variables" as *;

.filter {
  padding: 3px;
  &__label {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    text-align: start;
    color: $color-white;
  }
  &__checkbox {
    display: flex;
    justify-content: flex-end;
  }

  &__box {
    width: 15%;
    margin: 5px;
  }

  &__box:hover {
    cursor: pointer;
  }
}
