@use "../../assets/sass/variables" as *;

.heading {
  display: flex;
  padding: 20px;
  background: url(../../assets/images/background.jpg);
  margin-bottom: 10px;
  border-bottom: 5px solid $color-primary;
  align-items: center;
  justify-content: space-between;

  img {
    padding-bottom: 20px;
    padding-right: 10px;
  }

  &__text {
    font-family: $primary-font;
    text-align: left;
    color: $color-white;
    font-size: 2rem;

    &--extra {
      font-family: $primary-font;
      color: $color-white;
      font-size: 18px;
    }
  }
  &__home {
  }
}
