@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
// font "Merienda"

$color-primary: #66fcf1;
$color-secondary: #45a29e;
$color-black: black;
$color-white: white;
$color-gray: #c5c6c7;

$primary-font: "Merienda", "Arial", "san-serif";
